# Include the MANIFEST.in file itself
include MANIFEST.in

# Include all .in and .txt files (e.g., requirements)
include *.in
include *.txt

# Include all Python files in the tests directory
recursive-include tests *.py

# Include all shell scripts in the utils directory
recursive-include utils *.sh
